{% extends 'defaults/_nav.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/styles/app/homepage.css">
	<link rel="stylesheet" href="/styles/app/article/list.css">
{% endblock %}

{% block content %}
	<section class="articles-container">
		<h2 class="articles-header">Recent articles</h2>
		{% for article in recentArticles %}
			{% include "article/_article.html.twig" with {'article': article} %}
			<a href="" class="view-all-btn">View all articles</a>
		{% else %}
			<p class="error-article">
				<span>Ooops!</span>
				<span>There are no articles to display</span>
			</p>
		{% endfor %}
	</section>
{% endblock %}
