{% extends 'defaults/_nav.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/styles/app/search.css">
{% endblock %}

{% block content %}
	<section class="search-container"></section>
{% endblock %}
