{% extends 'defaults/_nav.html.twig' %}

{% block title %}
	Results for "{{ app.request.query.get("q") }}"
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/styles/app/search.css">
{% endblock %}

{% block content %}
	<section class="search-container"></section>
{% endblock %}
