{% extends "base.html.twig" %}

{% block title %}
	Admin |
	{% block addition %}{% endblock %}
{% endblock %}

{% block stylesheets %}
	<link href="/styles/admin/index.css" rel="stylesheet">
{% endblock %}

{% block body %}
	<nav class="nav-bar">
		<a href="{{path('homepage')}}">
			App
		</a>
		<a href="{{path('adminDashboard')}}" {% if app.request.attributes.get("_route") == "adminDashboard" %} class="active" {% endif %}>
			Dashboard
		</a>
		<a href="{{path('adminArticles')}}" {% if app.request.attributes.get("_route") == "adminArticles" %} class="active" {% endif %}>
			Articles
		</a>
		<img src="/images/defaults/logo.svg" class="logo">
		<a href="" {% if app.request.attributes.get("_route") == "" %} class="active" {% endif %}>
			Comments
		</a>
		<a href="" {% if app.request.attributes.get("_route") == "" %} class="active" {% endif %}>
			Users
		</a>
		<a href="{{path('userLogout')}}">
			Logout
		</a>
	</nav>

	{% include "alerts.html.twig" %}

	{% block content %}{% endblock %}
{% endblock %}
