.nav {
  height: 50px;
  width: 100%;
  background-color: rgb(39, 39, 39);
  position: relative;
  top: 0;
  left: 0;
  display: inline-flex;
}

.nav a {
  width: auto;
  min-width: 5%;
  height: 100%;
  border-right: 0.5px solid #fff;
}
.nav a img {
  height: 100%;
}

.nav .userManage button,
.nav .postManage button,
.nav .commentManage button {
  height: 50px;
  width: 65px;
  border: none;
  background-color: rgb(39, 39, 39);
  color: #fff;
  border-right: #fff solid 0.5px;
}

.nav .logOut {
  color: #fff;
}
