* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 15px;
  background-color: rgb(235, 235, 235);
}
a:link {
  text-decoration: none;
}

.navbar {
  width: 90%;
  margin: auto;
  align-items: center;
  display: flex;
}

.navbar .homeLink,
.navbar .separator,
.navbar .rightNav {
  display: flex;
}

.navbar .homeLink,
.navbar .rightNav {
  flex: 1;
}

.navbar .separator {
  flex: 3;
}

.navbar .homeLink h2 {
  background: linear-gradient(to right, #a57171, #a2a2ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 40px;
  cursor: pointer;
}

.navbar .rightNav div {
  flex: 0.5;
  font-size: 20px;
}
.navbar .rightNav button {
  width: 100px;
  height: 28px;
  border: none;
  border-radius: 25px;
  background-color: #0984e3;
  color: #fff;
}
.glyphicon-search {
  cursor: pointer;
}

.contentContainer {
  width: 80%;
  margin: auto;
  display: flex;
}

.listPost {
  flex: 1;
}
.listPost .articleContainer {
  margin-top: 1.5%;
  width: 100%;
  padding: 1.5%;
  border: 0.5px solid gray;
  box-shadow: 0 0 2px 0.1px gray;
  background-color: #fff;
  color: black;
}
.listPost .articleContainer .articleTitle {
  text-align: center;
}
.listPost .articleContainer .articleAuthor,
.listPost .articleContainer .articleCreated {
  text-align: right;
  margin-right: 5px;
  display: block;
  font-size: 13px;
}
.listPost .articleContainer:hover .articleTitle {
  color: blue;
}

.creatorContainer {
  display: flex;
  flex-direction: column;
}

.creatorContainer .back {
  width: 8.5%;
  font-size: 18px;
}

.creatorContainer .formContainer {
  width: 50%;
  height: 500px;
  margin-left: 25%;
  margin-top: 2.5%;
  border: 0.5px solid gray;
  display: flex;
  flex-direction: column;
}

.creatorContainer .formContainer input,
.creatorContainer .formContainer textarea {
  display: flex;
}

.creatorContainer .formContainer input {
  width: 75%;
  text-align: center;
  height: 35px;
  margin: 3% 12.5% 2% 12.5%;
}

.creatorContainer .formContainer textarea {
  width: 75%;
  height: 350px;
  resize: none;
  margin: 0 12.5% 2% 12.5%;
  text-align: center;
}

.creatorContainer .formContainer button {
  width: 50%;
  margin: 1.7% 25% 0 25%;
  height: 30px;
  border: none;
  border-radius: 15px;
  background-color: rgb(114, 134, 248);
  color: #fff;
}
