.logContainer {
  width: 100%;
  height: 100%;
}
.regContainer {
  width: 100%;
  height: 100%;
}

.logContainer .logForm {
  width: 33%;
  height: auto;
  margin-left: 33%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  border: 0.5px solid black;
  box-shadow: 0 0 15px 3px gray;
  background-color: rgb(207, 248, 214);
}
.logContainer .logForm .logWidg {
  flex: 1;
}
.logContainer .logForm h2 {
  flex: 1;
  margin: auto;
  font-size: 35px;
}
.logContainer .logForm input {
  width: 84%;
  height: 35px;
  display: block;
  margin: 8%;
  border: none;
  text-align: center;
}
.logContainer .logForm button {
  margin: auto 10% auto 10%;
  flex: 1;
  width: 80%;
  height: 35px;
  border-radius: 15px;
  border: none;
  background-color: rgb(129, 137, 241);
  color: #fff;
}
.logContainer .logForm a {
  margin: auto;
  flex: 1;
  text-decoration: none;
}

.regContainer .regForm {
  width: 33%;
  height: auto;
  margin-left: 33%;
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  border: 0.5px solid black;
  box-shadow: 0 0 15px 3px gray;
  background-color: rgb(207, 248, 214);
}
.regContainer .regForm h2 {
  text-align: center;
  font-size: 35px;
}
.regContainer .regForm input {
  width: 84%;
  height: 35px;
  display: block;
  margin: 8%;
  border: none;
  text-align: center;
}
.regContainer .regForm button {
  margin: auto 10% auto 10%;
  flex: 1;
  width: 80%;
  height: 35px;
  border-radius: 15px;
  border: none;
  background-color: rgb(129, 137, 241);
  color: #fff;
}
.regContainer .regForm a {
  margin: auto;
  flex: 1;
  text-decoration: none;
}

.userProfile {
  width: 85%;
  height: 85vh;
  margin: 1.5% auto;
  background-color: #fff;
  padding: 10px;
  display: flex;
  box-shadow: 0 0 5px 1px rgb(196, 195, 195);
}
.userMenu > p,
.userActivity p {
  cursor: pointer;
}
.userMenu {
  flex: 1;
  box-shadow: 0 0 5px 1px rgb(196, 195, 195);
  max-height: 40vh;
  padding: 5px;
}
.userMenu .user {
  height: 25vh;
  width: 80%;
  background-color: rgb(241, 240, 240);
  margin: 2% auto 4%;
  padding: 10px;
}
.user .name,
.user .prof-link {
  margin-top: 3%;
  text-align: center;
  font-weight: bold;
}
.name {
  font-size: 3vh;
}
.prof-link {
  font-size: 2vh;
  color: gray;
}
.prof {
  width: 7vw;
  height: 15vh;
  background-color: rgb(47, 47, 47);
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prof > i {
  font-size: 10vh;
  color: rgb(211, 197, 197);
}
.personal,
.activity {
  font-size: 2.5vh;
  margin-top: 2vh;
  margin-left: 1.5vw;
}

.userContent {
  flex: 5;
  height: 100%;
  margin-left: 1vw;
  margin-right: 1vw;
  padding: 1vh 1vw;
}

.active {
  display: block;
}
.userActivity,
.userData {
  display: none;
  width: 98%;
  margin: 1%;
  height: 98%;
}
.userData {
  display: flex;
  flex-direction: column;
}
.userData > div {
  display: flex;
  flex: 1;
  border-bottom: 1px solid rgb(196, 195, 195);
}
.userData .label-side {
  border: none;
  flex: 1.3;
  display: flex;
  align-items: center;
  font-weight: normal;
  padding-left: 1.5vw;
}
.userData .value-side {
  flex: 3;
  font-size: 3.5vh;
  display: flex;
  align-items: center;
  padding-left: 1.5vw;
  color: rgb(87, 87, 87);
}
.userData .changes {
  border: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.changes a {
  width: 20%;
  height: 75%;
}
.changes a button {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: rgb(185, 36, 36);
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 2.8vh;
}
