.logContainer {
  width: 100%;
  height: 100%;
}
.regContainer {
  width: 100%;
  height: 100%;
}

.logContainer .logForm {
  width: 33%;
  height: auto;
  margin-left: 33%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  border: 0.5px solid black;
  box-shadow: 0 0 15px 3px gray;
  background-color: rgb(207, 248, 214);
}
.logContainer .logForm .logWidg {
  flex: 1;
}
.logContainer .logForm h2 {
  flex: 1;
  margin: auto;
  font-size: 35px;
}
.logContainer .logForm input {
  width: 84%;
  height: 35px;
  display: block;
  margin: 8%;
  border: none;
  text-align: center;
}
.logContainer .logForm button {
  margin: auto 10% auto 10%;
  flex: 1;
  width: 80%;
  height: 35px;
  border-radius: 15px;
  border: none;
  background-color: rgb(129, 137, 241);
  color: #fff;
}
.logContainer .logForm a {
  margin: auto;
  flex: 1;
  text-decoration: none;
}

.regContainer .regForm {
  width: 33%;
  height: auto;
  margin-left: 33%;
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  border: 0.5px solid black;
  box-shadow: 0 0 15px 3px gray;
  background-color: rgb(207, 248, 214);
}
.regContainer .regForm h2 {
  text-align: center;
  font-size: 35px;
}
.regContainer .regForm input {
  width: 84%;
  height: 35px;
  display: block;
  margin: 8%;
  border: none;
  text-align: center;
}
.regContainer .regForm button {
  margin: auto 10% auto 10%;
  flex: 1;
  width: 80%;
  height: 35px;
  border-radius: 15px;
  border: none;
  background-color: rgb(129, 137, 241);
  color: #fff;
}
.regContainer .regForm a {
  margin: auto;
  flex: 1;
  text-decoration: none;
}

.userProfile {
  margin: auto;
  width: 80%;
  height: auto;
}
.userMenu {
  max-width: 30%;
  margin-right: 5%;
  float: left;
}
.userData {
  width: 65%;
  border: 0.5px solid gray;
  border-radius: 10px;
  box-shadow: 0 5px 15px gray;
  display: flex;
  flex-direction: column;
  float: left;
  color: #e74c3c;
  font-size: 20px;
}

.login,
.password,
.email,
.joined,
.firstName,
.birthdayDate,
.location,
.bio {
  width: 95%;
  height: 45px;
  margin: 1.5% auto;
  display: flex;
}

.name,
.value {
  flex: 1;
  padding: 1.3%;
}

.login .name,
.email .name,
.firstName .name,
.location .name,
.password .value,
.joined .value,
.birthdayDate .value,
.bio .value {
  background-color: #bdc3c7;
}

.login .value,
.email .value,
.firstName .value,
.location .value,
.password .name,
.joined .name,
.birthdayDate .name,
.bio .name {
  background-color: #95a5a6;
}
.bio {
  height: auto;
}
.saveChanges {
  flex: 1;
  margin: 2% auto;
}
.saveChanges button {
  border: none;
  border-radius: 7px;
  height: 35px;
  background-color: #2980b9;
  font-size: 17px;
  padding: 3px;
  color: white;
}
.makeChanges {
  flex: 1;
  margin: 2% auto;
}
.makeChanges button {
  border: none;
  border-radius: 7px;
  height: 35px;
  background-color: #2980b9;
  font-size: 17px;
  padding: 3px;
  color: white;
}

.bio textarea {
  height: 300px;
  resize: none;
}

input,
textarea {
  border: none;
}

select {
  outline: none;
  border: none;
  background: transparent;
}
