{% extends "app/index.html.twig" %}

{% block addition %}
	404 - Not found
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link href="/styles/user/err404.css" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="err404">
		<span>
			404
		</span>
		<span>
			Nothing like this is avaliable
		</span>
		<div>
			<a href="{{path('homepage')}}">
				Go home
			</a>
			<a href="{{path('articlesPagination')}}">
				Explore existing things
			</a>
		</div>
	</div>
{% endblock %}
