<div class="error">
    <p class="error-alert">Ooops... Looks like we don't have it</p>
    <p class="error-code">404</p>
    <a href="{{path('appHomepage')}}" class="back-link-home">
        <button>Homepage</button>
    </a>
</div>
