{% for label, messages in app.flashes %}
	{% for message in messages %}
		<div class="alert alert-{{label}}">
			<span class="message-alert">
				{{message|raw}}
			</span>
		</div>
	{% endfor %}
{% endfor %}
