<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}{% endblock %}
        </title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% if app.request.hasPreviousSession %}
            {% for label,messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{label}}">
                        {{message}}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        {% block navbar %}
            <div class="navbar">
                <a href="{{path('appHomepage')}}">
                    <h2>Eat much</h2>
                </a>

                <a href="{{path('userLogout')}}">
                    <button>Logout</button>
                </a>
            </div>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
