{% extends "app/index.html.twig" %}

{% block title %}Profile -
    {{name}}
{% endblock %}

{% block body %}
    <div class="userProfile">
        <div class="userMenu"></div>
        <div class="userData">
            {% for key,val in details %}
                <div class="dataRow">
                    <div class="dataName">{{key}}</div>
                    <div class="dataValue">{{val}}</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
