{% extends "app/index.html.twig" %}

{% block title %}
    Profile |
    {{app.session.get('user').Login}}
{% endblock %}

{% block body %}
    <div class="userProfile" id="user">
        <div class="userMenu">
            <div class="sideMenu">
                <ul>
                    <li id="personal">
                        <a class="btn" href="#data">Personal info</a>
                    </li>
                    <li id="feed">
                        <a class="btn" href="#activity">Activity</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="userData" id="data">
            {% if user.Login == app.session.get('user').Login %}
                <div class="makeChanges">
                    <a href="{{path('userEditProfile', {'user':app.session.get('user').Login})}}">
                        <button class="btn btn-submit">Make changes</button>
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="userActivity" id="activity">
            <div class="select">
                <li id="articles">
                    <a class="btn" href="#articles">Articles</a>
                </li>
                <li id="comments">
                    <a class="btn" href="#comments">Comments</a>
                </li>
            </div>


        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{asset('js/profile.js')}}"></script>
{% endblock %}
